<div class="gf-form-group">
     <p>You can manage your account's API and application tokens <a target="_blank" href="https://cp.tazeros.com/user/profile/tokens">here</a>.</p>
     <div class="gf-form-group">
          <div class="gf-form-inline">
               <div class="gf-form">
                    <span class="gf-form-label width-11">API Token</span>
                    <input class="gf-form-input width-27" type="text" ng-model='ctrl.current.jsonData.token' min-length="0" required></input>
               </div>
          </div>
     </div>
</div>